body {
    font-family: 'Poppins', sans-serif;
}

/* Horizontal style  */

hr {

    color: .1px solid white;
    opacity: .5;
}

/* banner style  */

.banner {
    display: flex;
    justify-content: space-around;

    background-color: black;
    border-radius: 15px;
    color: white;
    margin-bottom: 5%;
}

.banner-text {
    width: 531px;
    height: 424px;
}

.banner-heading {
    font-size: 70px;
    margin: 10px 0 30px;
}

.text {
    margin-top: 5px;
}

.banner img {
    width: 100%;
    height: 613px;
}

/* Link Button styles  */
.link-button {
    text-decoration: none;
    background-color: DD0000;
    color: rgb(252, 247, 247);
    border-radius: 5px;
    padding: 10px 15px;
}

.link-button:hover {
    background-color: aqua;
    color: blue;
}


/* sidebar styles  */

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 312px;
    height: 272px;
    padding: 0 20px;
    border-radius: 7px;
    /* margin-top: 15%%; */
}

.bar-item-1 {
    background-color: white;
    color: black;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 7px;
    text-align: center;
    padding-top: 10px;

}

.bar-item-2 {
    background-color: white;
    color: black;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0px;
    border-radius: 7px;
    text-align: center;
    padding-top: 10px;

}

.bar-item-3 {
    background-color: red;
    color: white;
    margin: 30px;
    border-radius: 7px;
    text-align: center;
    padding-top: 10px;
}

.sidebar a {
    text-decoration: none;

}

/* card style  */

.flex {
    display: flex;
    /* justify-content: space-evenly;  */
    /* display: grid;
    grid-template-columns: 25% auto; */
    margin: 5% 15%;
    column-gap: 25px;
}

.blog-information {
    /* width: 90%;
    margin: 0 auto; */
    display: flex;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* column-gap: 7px; */
    /* margin-top: 10%; */
    grid-column-gap: 24px;
    row-gap: 24px;
    width: 100%;
    /* margin-left: 3%; */
}

.blog {
    height: 362px;
    width: 312px;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.blog-elements {
    padding: 15px;
}

/* icons styles  */

.icons {
    display: flex;
}

.message {
    margin-left: 10px;
}

/* footer style  */

footer {
    color: white;
    text-align: center;
    font-size: 1em;
    background-color: black;
    /* padding-top: 4%; */
    margin-top: 6%;
    padding: 4%;
    width: 100%;
    margin: auto;


}

.footer-items {
    padding: 4%;
}

.footer-text {
    display: flex;
    justify-content: space-evenly;
}

.fa-brands {
    color: white;
    font-size: 25px;
    margin: 30px;
}

/*------------------ media queries style---------------------  */

/* For Mobiles  */

@media only screen and (max-width: 600px) {
    /* 
    .blog-information {
        flex-direction: column;
    } */

    .banner .banner-image {
        text-align: center;
    }

    .banner {
        flex-direction: column;
        height: auto;
        /* padding-left: 15%; */
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 90%;
        margin-right: 5%;
    }

    .banner-heading {
        font-size: 36px;
        line-height: 50px;
    }

    .banner-image img {
        width: 80%;
        /* grid-template-columns: repeat(1, 1fr); */

    }

    /* sidebar style  */

    .flex {
        flex-direction: column;
        align-items: center;
        justify-content: center;


    }

    .sidebar {
        width: 100%;
        background-color: white;
    }

    .bar-item-1 {
        border: 1px solid lightgray;
        align-items: center;
        height: 35px;
        padding: 22px 35px;
        margin: 0 14px;
        height: 34px;
    }

    .bar-item-2 {
        border: 1px solid lightgray;
        align-items: center;
        height: 35px;
        padding: 22px 35px;
        margin: 0 14px;
        height: 34px;
    }

    .bar-item-3 {
        border: 1px solid lightgray;
        align-items: center;
        height: 35px;
        padding: 22px 35px;
        margin: 0 14px;
        background-color: red;
        height: 34px;
    }

    /* blog style  */

    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .blog {
        flex-direction: column;
    }

    .footer-text {
        flex-direction: column;
    }
}

/* 
    /*-------------------- Media quaries for tablet  -------------------------*/

@media only screen and (min-width: 601px) and (max-width:992px) {
    /* 
        .blog-information {
            flex-direction: column;
        } */

    .banner .banner-image {
        text-align: center;
    }

    .banner {
        /* flex-direction: column; */
        height: auto;
        /* padding-left: 15%; */
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        /* margin-right: 5%; */
    }

    .banner-heading {
        font-size: 36px;
        line-height: 50px;
    }

    .banner-image img {
        width: 80%;
        /* grid-template-columns: repeat(1, 1fr); */

    }

    /* sidebar style  */

    .flex {
        flex-direction: column;
        align-items: center;
        justify-content: center;


    }

    .sidebar {
        width: 100px;
        height: 100px;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
        background: none;
        flex-direction: row;

    }

    .bar-item-1 {
        border: 1px solid lightgray;
        align-items: center;
        height: 35px;
        padding: 22px 35px;
        margin: 0 14px;
        height: 34px;
    }

    .bar-item-2 {
        border: 1px solid lightgray;
        align-items: center;
        height: 35px;
        padding: 22px 35px;
        margin: 0 14px;
        height: 34px;
    }

    .bar-item-3 {
        border: 1px solid lightgray;
        align-items: center;
        height: 35px;
        padding: 22px 35px;
        margin: 0 14px;
        background-color: red;
        height: 34px;
    }



    /* blog style  */

    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog {
        flex-direction: column;
    }

    .footer-text {
        flex-direction: column;
    }

}